<div class="d-flex justify-content-center align-items-center" id="base">


    <div id="recu">
        <form method="post">


            <div class="m-3 row">
                <h1>Recuperação de senha</h1>
            </div>
            <div class="m-3 row">
                <label class="row col-form-label" for="nova_senha">Nova Senha:</label>
                <div class="row">
                    <input class="form-control" id="nova_senha" name="nova_senha" placeholder="senha"
                           required type="text">
                </div>
            </div>

            <div class="mt-5 m-3 row">
                <div class="offset-sm-4 col-sm-8 d-flex justify-content-end">

                    <button class="btn button m-2" type="submit">redefinição de senha</button>
                </div>
            </div>

        </form>
    </div>

</div>